body{
    background-color: lightblue;
}

.div1{
    width:500px;
    height :500px;
    position: relative;
    background-color :burlywood;
    border-radius: 20px;
    box-shadow: 5px 5px grey;
    z-index: 0;
}

.div2{
    bottom: 400px;
    left: 100px;
    margin: 10px 10px 10px 0px;
    width:300px;
    height :300px;
    position: relative;
    background-color :rgb(135, 222, 203);
    border-radius: 20px;
    box-shadow: 10px 10px grey;
    z-index: 1;
}