body {
  margin: 0;
  background: transparent;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  font-family: Segoe UI, sans-serif;
}

.weather-card {
  width: 220px;
  padding: 16px;
  border-radius: 16px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(16px);
  color: white;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
  text-align: center;
}

.location {
  color: black;
  font-size: 14px;
  opacity: 0.8;
}

.temp {
    color: black;
  font-size: 48px;
  margin: 10px 0;
}

.desc {
    color: black;
  font-size: 16px;
  opacity: 0.9;
}

.details {
    color: black;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
}
